webservice/smartcapwap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by TeaM DJiNN (TeaM DJiNN) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://smartcapwap/namespace" targetNamespace="http://smartcapwap/namespace">
	<wsdl:types>
		<xs:schema targetNamespace="http://smartcapwap/namespace" elementFormDefault="qualified"/>
	</wsdl:types>
	<wsdl:message name="joinBackend">
		<wsdl:part name="idac" type="xs:string"/>
		<wsdl:part name="version" type="xs:string"/>
		<wsdl:part name="forcereset" type="xs:boolean"/>
	</wsdl:message>
	<wsdl:message name="joinBackendResponse">
		<wsdl:part name="return" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="leaveBackend">
		<wsdl:part name="idsession" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="leaveBackendResponse"/>
	<wsdl:message name="waitBackendEvent">
		<wsdl:part name="idsession" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="waitBackendEventResponse">
		<wsdl:part name="return" type="xs:base64Binary"/>
	</wsdl:message>
	<wsdl:message name="authorizeWTPSession">
		<wsdl:part name="idsession" type="xs:string"/>
		<wsdl:part name="idwtp" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="authorizeWTPSessionResponse">
		<wsdl:part name="return" type="xs:boolean"/>
	</wsdl:message>
	<wsdl:message name="waitBackendEventFault"/>
	<wsdl:message name="authorizeJoinFault"/>
	<wsdl:message name="configureStatusWTPSession">
		<wsdl:part name="idsession" type="xs:string"/>
		<wsdl:part name="idwtp" type="xs:string"/>
		<wsdl:part name="confstatus" type="xs:base64Binary"/>
	</wsdl:message>
	<wsdl:message name="joinWTPSession">
		<wsdl:part name="idsession" type="xs:string"/>
		<wsdl:part name="idwtp" type="xs:string"/>
		<wsdl:part name="join" type="xs:base64Binary"/>
	</wsdl:message>
	<wsdl:message name="configureStatusWTPSessionResponse">
		<wsdl:part name="return" type="xs:base64Binary"/>
	</wsdl:message>
	<wsdl:message name="changeStateWTPSession">
		<wsdl:part name="idsession" type="xs:string"/>
		<wsdl:part name="idwtp" type="xs:string"/>
		<wsdl:part name="changestate" type="xs:base64Binary"/>
	</wsdl:message>
	<wsdl:message name="changeStateWTPSessionResponse">
		<wsdl:part name="return" type="xs:base64Binary"/>
	</wsdl:message>
	<wsdl:message name="runningWTPSession">
		<wsdl:part name="idsession" type="xs:string"/>
		<wsdl:part name="idwtp" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="runningWTPSessionResponse"/>
	<wsdl:message name="joinWTPSessionResponse">
		<wsdl:part name="return" type="xs:base64Binary"/>
	</wsdl:message>
	<wsdl:message name="teardownWTPSession">
		<wsdl:part name="idsession" type="xs:string"/>
		<wsdl:part name="idwtp" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="teardownWTPSessionResponse"/>
	<wsdl:message name="checkWTPSession">
		<wsdl:part name="idsession" type="xs:string"/>
		<wsdl:part name="idwtp" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="checkWTPSessionResponse">
		<wsdl:part name="return" type="xs:boolean"/>
	</wsdl:message>
	<wsdl:message name="getWTPConfiguration">
		<wsdl:part name="idsession" type="xs:string"/>
		<wsdl:part name="idwtp" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="getWTPConfigurationResponse">
		<wsdl:part name="return" type="xs:base64Binary"/>
	</wsdl:message>
	<wsdl:message name="updateBackendEvent">
		<wsdl:part name="idsession" type="xs:string"/>
		<wsdl:part name="idevent" type="xs:string"/>
		<wsdl:part name="status" type="xs:int"/>
	</wsdl:message>
	<wsdl:message name="updateBackendEventResponse"/>
	<wsdl:message name="getConfiguration">
		<wsdl:part name="idsession" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="getConfigurationResponse">
		<wsdl:part name="return" type="xs:base64Binary"/>
	</wsdl:message>
	<wsdl:message name="authorizeStation">
		<wsdl:part name="idsession" type="xs:string"/>
		<wsdl:part name="idwtp" type="xs:string"/>
		<wsdl:part name="station" type="xs:base64Binary"/>
	</wsdl:message>
	<wsdl:message name="authorizeStationResponse">
		<wsdl:part name="return" type="xs:base64Binary"/>
	</wsdl:message>
	<wsdl:portType name="Presence">
		<wsdl:operation name="joinBackend">
			<wsdl:input message="tns:joinBackend"/>
			<wsdl:output message="tns:joinBackendResponse"/>
		</wsdl:operation>
		<wsdl:operation name="leaveBackend">
			<wsdl:input message="tns:leaveBackend"/>
			<wsdl:output message="tns:leaveBackendResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="Comet">
		<wsdl:operation name="waitBackendEvent">
			<wsdl:input message="tns:waitBackendEvent"/>
			<wsdl:output message="tns:waitBackendEventResponse"/>
		</wsdl:operation>
		<wsdl:operation name="updateBackendEvent">
			<wsdl:input message="tns:updateBackendEvent"/>
			<wsdl:output message="tns:updateBackendEventResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="AccessControllerWTPSession">
		<wsdl:operation name="authorizeWTPSession">
			<wsdl:input message="tns:authorizeWTPSession"/>
			<wsdl:output message="tns:authorizeWTPSessionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="joinWTPSession">
			<wsdl:input message="tns:joinWTPSession"/>
			<wsdl:output message="tns:joinWTPSessionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="configureStatusWTPSession">
			<wsdl:input message="tns:configureStatusWTPSession"/>
			<wsdl:output message="tns:configureStatusWTPSessionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="changeStateWTPSession">
			<wsdl:input message="tns:changeStateWTPSession"/>
			<wsdl:output message="tns:changeStateWTPSessionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="runningWTPSession">
			<wsdl:input message="tns:runningWTPSession"/>
			<wsdl:output message="tns:runningWTPSessionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="teardownWTPSession">
			<wsdl:input message="tns:teardownWTPSession"/>
			<wsdl:output message="tns:teardownWTPSessionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="checkWTPSession">
			<wsdl:input message="tns:checkWTPSession"/>
			<wsdl:output message="tns:checkWTPSessionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="authorizeStation">
			<wsdl:input message="tns:authorizeStation"/>
			<wsdl:output message="tns:authorizeStationResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="AccessControllerWTPConfiguration">
		<wsdl:operation name="getWTPConfiguration">
			<wsdl:input message="tns:getWTPConfiguration"/>
			<wsdl:output message="tns:getWTPConfigurationResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="AccessController">
		<wsdl:operation name="getConfiguration">
			<wsdl:input message="tns:getConfiguration"/>
			<wsdl:output message="tns:getConfigurationResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Presence" type="tns:Presence">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="joinBackend">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="leaveBackend">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="Comet" type="tns:Comet">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="waitBackendEvent">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateBackendEvent">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="AccessControllerWTPSession" type="tns:AccessControllerWTPSession">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="authorizeWTPSession">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="joinWTPSession">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="configureStatusWTPSession">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="changeStateWTPSession">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="runningWTPSession">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="teardownWTPSession">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="checkWTPSession">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="authorizeStation">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="AccessControllerWTPConfiguration" type="tns:AccessControllerWTPConfiguration">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getWTPConfiguration">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="AccessController" type="tns:AccessController">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getConfiguration">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SmartCAPWAP">
		<wsdl:port name="presence" binding="tns:Presence">
			<soap:address location="http://localhost/"/>
		</wsdl:port>
		<wsdl:port name="comet" binding="tns:Comet">
			<soap:address location="http://localhost/"/>
		</wsdl:port>
		<wsdl:port name="accesscontrollerwtpsession" binding="tns:AccessControllerWTPSession">
			<soap:address location="http://localhost/"/>
		</wsdl:port>
		<wsdl:port name="accesscontrollerwtpconfiguration" binding="tns:AccessControllerWTPConfiguration">
			<soap:address location="http://localhost/"/>
		</wsdl:port>
		<wsdl:port name="accesscontroller" binding="tns:AccessController">
			<soap:address location="http://localhost/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
