webservice/smartcapwap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by TeaM DJiNN (TeaM DJiNN) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://smartcapwap/namespace" targetNamespace="http://smartcapwap/namespace">
	<wsdl:types>
		<xs:schema targetNamespace="http://smartcapwap/namespace" elementFormDefault="qualified"/>
	</wsdl:types>
	<wsdl:message name="joinBackend">
		<wsdl:part name="acid" type="xs:string"/>
		<wsdl:part name="version" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="joinBackendResponse">
		<wsdl:part name="return" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="leaveBackend">
		<wsdl:part name="sessionid" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="leaveBackendResponse"/>
	<wsdl:message name="waitBackendEvent">
		<wsdl:part name="sessionid" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="waitBackendEventResponse"/>
	<wsdl:message name="authorizeJoin">
		<wsdl:part name="sessionid" type="xs:string"/>
		<wsdl:part name="wtpid" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="authorizeJoinResponse"/>
	<wsdl:message name="waitBackendEventFault"/>
	<wsdl:message name="authorizeJoinFault"/>
	<wsdl:message name="configureStatus">
		<wsdl:part name="sessionid" type="xs:string"/>
		<wsdl:part name="wtpid" type="xs:string"/>
		<wsdl:part name="confstatus" type="xs:base64Binary"/>
	</wsdl:message>
	<wsdl:message name="configureStatusResponse">
		<wsdl:part name="return" type="xs:base64Binary"/>
	</wsdl:message>
	<wsdl:message name="changeStateEvent">
		<wsdl:part name="sessionid" type="xs:string"/>
		<wsdl:part name="wtpid" type="xs:string"/>
		<wsdl:part name="changestate" type="xs:base64Binary"/>
	</wsdl:message>
	<wsdl:message name="changeStateEventResponse">
		<wsdl:part name="return" type="xs:base64Binary"/>
	</wsdl:message>
	<wsdl:message name="runningEvent">
		<wsdl:part name="sessionid" type="xs:string"/>
		<wsdl:part name="wtpid" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="runningEventResponse"/>
	<wsdl:portType name="Presence">
		<wsdl:operation name="joinBackend">
			<wsdl:input message="tns:joinBackend"/>
			<wsdl:output message="tns:joinBackendResponse"/>
		</wsdl:operation>
		<wsdl:operation name="leaveBackend">
			<wsdl:input message="tns:leaveBackend"/>
			<wsdl:output message="tns:leaveBackendResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="Comet">
		<wsdl:operation name="waitBackendEvent">
			<wsdl:input message="tns:waitBackendEvent"/>
			<wsdl:output message="tns:waitBackendEventResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="AccessController">
		<wsdl:operation name="authorizeJoin">
			<wsdl:input message="tns:authorizeJoin"/>
			<wsdl:output message="tns:authorizeJoinResponse"/>
		</wsdl:operation>
		<wsdl:operation name="configureStatus">
			<wsdl:input message="tns:configureStatus"/>
			<wsdl:output message="tns:configureStatusResponse"/>
		</wsdl:operation>
		<wsdl:operation name="changeStateEvent">
			<wsdl:input message="tns:changeStateEvent"/>
			<wsdl:output message="tns:changeStateEventResponse"/>
		</wsdl:operation>
		<wsdl:operation name="runningEvent">
			<wsdl:input message="tns:runningEvent"/>
			<wsdl:output message="tns:runningEventResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Presence" type="tns:Presence">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="joinBackend">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="leaveBackend">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="Comet" type="tns:Comet">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="waitBackendEvent">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="AccessController" type="tns:AccessController">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="authorizeJoin">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="configureStatus">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="changeStateEvent">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="runningEvent">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SmartCAPWAP">
		<wsdl:port name="presence" binding="tns:Presence">
			<soap:address location="http://localhost/"/>
		</wsdl:port>
		<wsdl:port name="comet" binding="tns:Comet">
			<soap:address location="http://localhost/"/>
		</wsdl:port>
		<wsdl:port name="accesscontroller" binding="tns:AccessController">
			<soap:address location="http://localhost("/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
