webservice/smartcapwap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by TeaM DJiNN (TeaM DJiNN) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://smartcapwap/namespace" targetNamespace="http://smartcapwap/namespace">
	<wsdl:types>
		<xs:schema targetNamespace="http://smartcapwap/namespace" elementFormDefault="qualified"/>
	</wsdl:types>
	<wsdl:message name="joinBackend"/>
	<wsdl:message name="joinBackendResponse">
		<wsdl:part name="return" type="xs:int"/>
	</wsdl:message>
	<wsdl:message name="leaveBackend"/>
	<wsdl:message name="leaveBackendResponse"/>
	<wsdl:message name="waitBackendEvent"/>
	<wsdl:message name="waitBackendEventResponse"/>
	<wsdl:portType name="Presence">
		<wsdl:operation name="joinBackend">
			<wsdl:input message="tns:joinBackend"/>
			<wsdl:output message="tns:joinBackendResponse"/>
		</wsdl:operation>
		<wsdl:operation name="leaveBackend">
			<wsdl:input message="tns:leaveBackend"/>
			<wsdl:output message="tns:leaveBackendResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="Comet">
		<wsdl:operation name="waitBackendEvent">
			<wsdl:input message="tns:waitBackendEvent"/>
			<wsdl:output message="tns:waitBackendEventResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Presence" type="tns:Presence">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="joinBackend">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="leaveBackend">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="Comet" type="tns:Comet">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="waitBackendEvent">
			<soap:operation soapAction="urn:#NewOperation"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SmartCAPWAP">
		<wsdl:port name="presence" binding="tns:Presence">
			<soap:address location="http://localhost/csoap.php"/>
		</wsdl:port>
		<wsdl:port name="comet" binding="tns:Comet">
			<soap:address location="http://localhost/csoap.php"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
